/*---------------H E A D E R---------------*/
.BackgroundColorHeaderTop{
    background-color: #434343;
    height: 100%;
    width: 100%;
}

.dropdown-usd{
    padding-left:0px; 
}

.BackgroundColorHeaderBotton{
    background-color: #363636;
    width: 100%;
    height: 100%;
}

header p{
    color: white;
    padding-right: 20px;
}

.ButtonLeftStyle{
    margin-top:8px;
    background-color: #434343;
    border: none;
    border-color:white;
    color: white;
}

.ButtonLeftStyleBorder{
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: white;
}

.ButtonRightStyle{
    margin-top:8px;
}

.Header-bottom-left{
    padding: 0px;
}

.header-top-dropdown{
    padding: 0px;
}

.Header-top-register{
    padding: 0px;
}

.Header-bottom-my-chart{
    padding: 0px;
}

.mobile{
    font-size: 20px;
    padding-top:15px;
    color: #d58e32;
}

.Logo{
    margin-top:20px;
    margin-bottom: 20px;
    width: 165px;
    height: 77px;
}

.MyChart{
    width: 50px;
    height: 50px;
    background-color: #d58e32;
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
}

.MyChart::after{
    content: "0";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444;
    padding-top: 3px;
    top:0;
    left:0;
    right:-55px;
    bottom: 0;
    margin:auto;
    color: #fff;
    text-align: center;
}

.Basket{
    margin: 15px;
    font-size:18px;
}

.MeChartZero p{
    text-align: center;
}

.BurgerMenu i {
    color:white;
}

.BurgerMenu a {
    color:white !important;
}
/*---------------M E N U---------------*/
.Category-and-search-all{
    padding: 0px;    
}
.CategoryAndSearch{
    margin-top: 20px;
    width: 85%;
    height: 45px;
    border:1px solid;
    display: flex;
}

.CategoryAndSearch i{
    color: #d58e32;
}

.ButtonLeftCategory{
    background-color: white;
    border: 0px;
    height: 43px;
    padding-left: 10px;
    border-right: 1px solid;
}

.Search{
    width: 100%;
    height: 100%;
}

.SearchStyle{
    padding-right: 40px;
    padding-left: 10px;
    border: none;
    height: 43px;
    width: 100%;
}

.SearchImage{
    position: absolute;
    padding-top: 8px;
    width: 20px;
    margin-left: 80%;
}

.SearchImage i{
    color: #2a2a2a;
}


.ContainerMenu{
    width: 100%;
    display: flex;
}

.BackgroundColorMenu{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
}

.MenuRight{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}   

.MenuItem{
    width: 100%;
    padding-left: 10.6px;
    padding-right: 10.6px;
    padding-top: 30px;
    height: 85px;
}

.Menu-item-home{
    background-color: #d58e32;
    color: white;
    box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.75);
}

.MenuItem:hover{
    color: white;
    box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.75);
    background-color: #d58e32;
    height: 85px;
    padding-top: 30px;
    cursor: pointer;
    transition: 0.45s;
}

.MenuRight a{
    text-decoration: none;
    color: #2a2a2a;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.CategoryAndSearch{
        width: 100%;    
    }

    .SearchImage{
        margin-left: 90%;
    }

    .MenuRight{
        margin: 0 auto;
        display: table-column;
        padding: 0px;
        padding-left: 15px;
    }
}

/*---------------S L I D E R---------------*/
.HotDeals{
    width: 100%;
    height: 500px;
}

.Title{
    width: 100%;
    height: 50px;
    background-color: #2a2a2a;
    display: flex;
}

.Title h3{
    color: white;
    padding: 7px;
    padding-left: 25px;
}

.Title p{
    color: white;
    margin-left: 90px;
    margin-top: 9%;
}

.Title p:hover{
    cursor: pointer;
    color: #d58e32;
    transition: 0.45s;
}

.HourCountImage{
    width: 100%;
    height: 310px;
    background-color: #f4f5f7;  
    padding-top: 100px;
}

.AddToCard{
    width: 160px;
    height: 35px;
    background-color: #2a2a2a;
    margin: 0 auto;


}

.AddToCard h6{
    color: white;
    text-align: center;
    padding: 5%;
}

.HourCount{
    width: 300px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    margin-top: 95px;
}

.HourCountAll{
    width: 70px;
    height: 70px;
    background-color: #3e3e3e;
    border-radius: 50px;
    margin: 0 auto;
}

.HourCountAll h4 {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 6px;
}

.HourCountAll h6 {
    color: white;
    text-align: center;
}

.ProductNameAndAmountCopy{
    width: 100%;
    height: 140px;
    border: 1px solid;
    border-color: #f4f5f7;
}

.ProductNameAndAmountCopy h5{
    text-align: center;
    padding-top: 5px;
}

.ProductNameAndAmountCopyStar{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid;
  
}

.ProductNameAndAmountCopyStarOrangeLine{
    margin-left: 135px;
    margin-top:-1px;
    width: 30px;
    height: 3px;
    background-color: orange;
    position: absolute;
}

.ProductNameAndAmountCopyPriceIcon{
    margin: 0 auto;
    width: 300px;
    display: flex;
    margin-top: 15px;
}

.Icon{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    border:1px solid;
    padding: 5px;
    padding-left: 8px;
}

.Price{
    margin-left: 25px;
    display: flex;  

}

.PriceOne{
    padding-top: 8px;
    padding-right: 5px;
    color: #bdbdbd;
}

.PriceTwo{
    width: 90px;
    height: 35px;
    background-color: #3e3e3e; 
    color: white;
}

.Slider{
    width: 100%;
    height: 500px;
}

.SliderImageButton{
    margin: 0 auto;
    width: 135px;
    height: 55px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    margin-top: 280px;
    padding-top: 2%;
}

.Slider h1 {
    text-align: center;

}

.SliderImage{
    width: 100%;
    height: 465px;
    background-color: #cccccc;
}

.SliderButtonStyle{
    width: 100%;
    height: 35px;
    background-color: #2a2a2a;
    display: flex;
    
}

.SliderButtonStyle i{
    color: white;
    font-size: 20px;
    
}

.SliderButtonStyleOne{
    width: 50%;
    text-align: center;
    padding-top: 1%;
}

.SliderButtonStyleTwo{
    width: 50%;
    text-align: center;
    padding-top: 1%;
}

.SliderButtonStyle:hover{
    background-color: #d58e32;
    transition: 0.45s;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.SliderImage{
        margin-top: 30px;
    }
}
/*---------------F O U R__O P T I O N---------------*/
.HovenContainer{
    margin-top:30px;
}

.Hoven{
    margin-top:40px;
    width: 100%;
    height: 120px;
    border: 1px solid;
}

.Hoven p{
    text-align: center;
}

.Hoven h4{
    text-align: center;
    padding-top:45px;
}

.HivenImage{
    padding-top:7px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid;
    margin: auto;
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.HivenImageTwo{
    width: 60px;
    height: 60px;
    border:1px solid;
    margin:0 auto;
    border-radius: 50%;
    background-color: #fff;
}

.HivenImageTwo i{
    font-size: 22px;
    margin: 17px;
}

.HivenImageTwo:hover{
    background-color: #d58e32;
    color:white;
    cursor: pointer;
    transition: 0.45s;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.Hoven{
        margin-top: 60px;
    }

    .HivenImage{
        margin-top: 100px;
    }
}
/*---------------A D---------------*/
.Ad{
    padding-top:30px;
}

.AdOne{
    width: 100%;
    height: 420px;
    background-color: #6a6a6a; 
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
}

.AdOneBackgroundGreen{
    width: 100%;
    height: 100%;
    background-color: #505050;
    padding-top:150px;
    padding-left: 20px;
    
}

.AdOneBackgroundText{
    color: white;
    
}

.AdOneBackgroundNumber{
    height: 80px;
    width: 160px;
    border:6px solid;
}

.AdTwoTop{
    width: 100%;
    height: 190px;
    background-color: #e8edf7;
}

.AdTwoBackgroundText{
    margin: auto;
    height: 150px;
    width: 260px;
    padding: 40px;
}

.AdTwoBackgroundText h2{
    color: #d58e32;

}

.AdTwoBottom{
    margin-top:40px;
    width: 100%;
    height: 190px;
    background-color: #fbf3f7;
}


.AdTwoBackgroundTextTwo h4{
    color: #d58e32;
}

.AdTwoBackgroundTextTwo{
    padding-top:65px;
    text-align: end;
    padding-right: 30px;
}

.AdOneTwo{
    width: 100%;
    height: 100%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.AdTwoTop{
        margin-top: 30px;
    }
}
/*---------------N E V - P R O D U C T S---------------*/
.New-products-margin-one{
    margin-top: 20px;
}

.New-products-one{
    width: 100%;
    height: 400px;
    border: 1px solid;
    border-color: #cccccc;
}

.New-products{
    display: flex;
}

.New-products-one-background-image{
    width: 100%;
    height: 260px;
    background-color: #cccccc;
}

.New-products-one-background-image-hover{
    position: absolute;
    margin-left: 12px;
    width: 80%;
    display: flex;
    margin-top: 200px;    
    opacity: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    color: white;
    text-align: center;
    font-size: 14px;
}

.New-products-one-background-image-hover-quick{
    width: 85px;
    height: 35px;
    background-color: #2a2a2a;
    padding-top: 7px;
}

.New-products-one-background-image-hover-cart{
    width: 130px;
    height: 35px;
    background-color: #2a2a2a;
    margin-left: auto;
    padding-top: 7px;
}

.New-products-one-background-image:hover .New-products-one-background-image-hover{
    opacity: 1;
}

.New-products-one-background-image-hover-cart:hover{
    cursor: pointer;
}

.New-products-one-background-image-hover-quick:hover{
    cursor: pointer;
}

.New-products-one-background-image-sale{
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 45px;
    height: 25px;
    background-color: #2a2a2a;
    border-radius: 0 0 100%  100%;
}

.New-products-one-text h5{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: #2a2a2a;
}

.New-products-one-text h5:hover{
    color: #d58e32;
    cursor: pointer;
}

.New-products-one-star{
    margin: 0 auto;
    width: 85%;
    height: 35px;
    border-bottom: 1px solid;
    text-align: center;
}

.New-products-one-star-line-orange{
    width: 30px;
    height: 3px;
    background-color: #d58e32;
    position: absolute;
    margin-top: -7px;
    margin-left: 33%;
}

.New-products-one-icon-price{
    margin: 0 auto;
    width:  85%;
    display: flex;
}

.New-products-one-icon{
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border:1px solid;
}

.New-products-one-icon p{
    text-align: center;
    padding-top: 5px;
}

.New-products-one-price{
    margin-top: 10px;
    width: 75px;
    height: 35px;
    background-color: #2a2a2a;
    margin-left: auto;
}

.New-products-one-price-strike{
    color: #bdbdbd;
    padding-top: 2px;
    padding-right: 3px;
}

.New-products-one-price :hover{ 
    background-color: #d58e32;
    height: 35px;
    cursor: pointer;
}   

.New-products-one-price h5{
    padding-top: 5px;
    text-align: center;
    color: white;
}

.New-products-margin-two{
    margin-top: 30px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.New-products-one{
        margin-top: 30px;
    }
}
/*Furniture-gallery*/
.Furniture-gallery{
    margin-top: 30px;
}

.Furniture-gallery-left-container{
    margin-top: 30px;
    width: 100%;
    height: 449px;
    border: 1px solid;
    border-color: #cccccc;
}

.Furniture-gallery-cart-hover{
    position: absolute;
    width: 90px;
    height: 25px;
    background-color: #2a2a2a;
    margin-top: -40px;
    margin-left: 50px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    opacity: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.Furniture-gallery-cart-hover::after{
    content: ''; 
    position: absolute;
    right: 90px; top: 7px;
    border: 5px solid transparent;
    border-right: 6px solid #2a2a2a;
}

.Furniture-gallery-left-container-icon-all:hover .Furniture-gallery-cart-hover{
    opacity: 1;
}

.Furniture-gallery-right-container{
    width: 100%;
    height: 600px;
    background-color: #e8edf7;
}

.Furniture-gallery-text{
    width: 100%;
    height: 30px;
    border-bottom: 2px solid;
    border-color:#cccccc;
}

.Furniture-gallery-text h6{
    color: #d58e32;

}

.Furniture-gallery-text-line-orange{
    margin-top: 1px;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #d58e32;
}

.Furniture-gallery-left-container-icon{
    margin-top: 20%;
    margin-left: 10px;
    height: 35px;
}

.Furniture-gallery-left-container-icon-all:hover{
    color: #d58e32;
    border-color: #d58e32;
    cursor: pointer;
}

.Furniture-gallery-left-container-aenean{
    position: absolute;
    margin-top: 100px;
    width: 250px;
    height: 110px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.100);
    margin-left:288px;
    text-align: center;
}

.Furniture-gallery-left-container-aenean-triangle-top{
    width: 10px;
    height: 10px;
    border: 10px solid transparent;	
    border-left: 10px solid black; 
    border-top: 10px solid black;
}

.Furniture-gallery-left-container-aenean-triangle-bottom{
    width: 10px;
    height: 10px;
    border: 10px solid transparent;	
    border-right: 10px solid black; 
    border-bottom: 10px solid black;
    margin-top: 20px;
    margin-left:230px;

}

.Furniture-gallery-left-container-aenean-price{
    width: 100px;
    height: 100px;
    border-radius:50%;
    background-color: #2a2a2a;
    position: absolute;
    margin-top: -90px;
    margin-left: 70px;
    opacity: .5;
    color: white;
}

.Furniture-gallery-left-container-aenean-price{
    padding-top: 5px;
}

.Furniture-gallery-left-container-icon-all{
    padding-top: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    border: 1px solid;
    margin-top: 5px;
}

.Furniture-gallery-right-container-text{
    width: 350px;
    height: 250px;
    padding-left: 65px;
    padding-top: 65px;

}

.Furniture-gallery-right-container-text h1{
   color: #d58e32;
   font-weight: bold;
}

.Furniture-gallery-right-container-text-top{
    display: flex;
}

.Furniture-gallery-right-container-text-top p{
    margin-top: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.Furniture-gallery-right-container-text-button{
    width: 135px;
    height: 55px;
    background-color: #85AC46;
    border-radius: 4px;
    margin-top: 20px;
}

.Furniture-gallery-right-container-text-button p{
    color:white;
    text-align: center;
    font-weight: bold;
    padding-top: 10%;
}

.Furniture-gallery-right-container-text-top h1{
    color: #85AC46;
}

.Furniture-gallery-left-backgroundmenu{
    width: 100%;
    height: 540px;
}

.Furniture-gallery-left-menu{
    width: 100%;
    height: 45px;
}

.nav-tabs a{
    color:#2a2a2a ;
}

.nav-tabs .nav-item{
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.nav-tabs .nav-link:hover{
    border-radius: 0rem;
    border-top: 3px solid;
    border-top-color: #d58e32;
    border-bottom: 0px solid;
    border-left:none;
    color: #d58e32;
}


.nav-tabs .nav-link{
    border-radius: 0rem;
    border:none;
    border-left:1px solid;
    border-color: #cccccc;
}

.Furniture-gallery-left-container-slider{
    margin-top:5%;
    width: 100%;
    height: 80px;
    background-color: #2a2a2a;
    
}

.Furniture-gallery-left-slider-bottom-left{
    width: 30px;
    height: 70px;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding-top:23px;
}

.Furniture-gallery-left-slider-bottom-left:hover{
    color: #d58e32;
    cursor:pointer;
    transition: 0.45s;

}

.Furniture-gallery-left-slider-image{
    width: 70px;
    height: 70px;
    background-color: #909090;
    margin-left: 4px;
    margin-right:4px
}

.Furniture-gallery-left-slider-bottom-right{
    width: 30px;
    height: 70px;
    background-color: #2a2a2a;
    margin-right: 10px;
    color: white;
    text-align: center;
    padding-top:23px;
}

.Furniture-gallery-left-slider-bottom-right:hover{
    color: #d58e32;
    cursor:pointer;
    transition: 0.45s;

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	.Furniture-gallery-left-container-aenean{
        margin-left: 94px;
    }

    .Furniture-gallery-right-container-text{
        margin-top: 30px;
    }
}


/*---------------F O O T E R---------------*/

.BackgroundFooterTop{
    margin-top: 30px;
    width: 100%;
    background-color: #363636;
}

.BackgroudFooterBottom{
    background-color: #2a2a2a;
    width: 100%;
}   

#FooterBottom{
	background-color: #2a2a2a;
	height: 100px;
}

.FooterLeft{
	text-align: right;
	color: #909090;
}

.FooterRight{
	text-align: right;
	color: #909090;

}

.FooterRight i{
    padding-left: 7px;
    padding-right: 7px;
}

.FooterRight i:hover{
    color: #d58e32;
    transition: 0.45s;
    cursor: pointer;
}

#FooterTop{
    padding-top: 85px;
    padding-bottom: 85px;
    height: 100%;
	background-color: #363636;
	display: flex;

}

.FooterTopText h4{
	Color:white;
	
}

.FooterTopText a{
    text-decoration-color: #929292;
    color: #929292;
    
}

.Card{
	position: absolute;
	width: 240px;
	height: 35px;
	background-image: url(image/Card.png);
	margin-top:20px;
	background-size: 200px 25px;
	background-repeat: no-repeat;
}
/*B L O G*/
.BlogOne{
    margin-top:30px;
    height: 545px;
    width: 100%;
}

.BlogTwo{
    margin-top:30px;
    height: 545px;
    width: 100%;
}

.BlogThree{
    margin-top:30px;
    height: 545px;
    width: 100%;
}

.BlogBackgroundColorGreen{
    width: 100%;
    height:290px;
    background-color: #969696;
}

.BlogTextAll{
    margin-top: -60px;
    margin-left: 35px;
    width: 80%;
    height: 315px;
    background-color: white;
}

.BlogTextCC{
    display: flex;
    width: 100%;
    height: 15%;
}

.BlogCalendar{
    padding-top:15px;
    margin: 0 auto;
}

.BlogComments{
    padding-top:15px;
    margin: 0 auto;
}

.BlogText{
    padding-top: 25px;
}

.BlogText h6:hover{
   color: #d58e32;
   cursor: pointer;
   transition: 0.45s;
}

.BlogButton{
    padding-top: 20px;
    padding-left: 20%;
}

.BlogButton button{
    height: 45px;
    width: 165px;
    background-color: #2a2a2a;
    border:none;
    color: white;
}

.BlogButton button:hover{
    background-color: #d58e32;
    cursor: pointer;
    transition: 0.45s;
}

/*Slider-logo-brand*/
.Slider-logo-brand{
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top:1px solid;
    border-bottom:1px solid;
    border-color: #cccccc;
    width: 100%;
    outline: none;
}


.Slider-logo-brand img{
    width: 140px;
    height: 90px;
    outline: none;
    object-fit: cover;
    
}

.slick-next:hover{
    color: #d58e32 !important;
    
}

.slick-arrow:hover{
    color: #d58e32 !important;
}

.Slider-logo-brand-img{
    width: 140px !important;
    margin-left: 20px;
    margin-right: 20px;
}

.slick-next {
    background-color:#2a2a2a !important;
    height: 90px !important;
    right: 0 !important;
    z-index: 20;
}

.slick-prev {
    left: 0 !important;
    z-index: 20;
}

.slick-arrow{
    background-color: #2a2a2a !important;
    height: 90px !important;
}

/*Q U O T E*/

.QuoteAll{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.QuoteAll p{
    font-size: 20px;
    text-align: center;
    
}
.QuoteText{
    text-align: center;
}

.Author{
    display: flex;
    margin: 0 auto;
    width: 15%;
    height: 15%;
}

.AuthorImage{
    width: 45px;
    height: 40px;
    background-color: #676767;
    border-radius: 5px;
}

.AuthorImageText{
    padding-left: 10px;
}

.AuthorImageText p{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

/*LineSpacing*/

.LineSpacing{
    margin-top: 40px;
    border-bottom:2px solid;
    border-color: #cccccc;
    display: flex;
}

.LineSpacingOrange{
    margin-top: -2px;
    width: 40px;
    height: 2px;
    background-color: #d58e32;
}

.LineSpacing h6{
    color: #d58e32;
}

.LineSpacingOrangeItem p{
    padding-left: 20px;
    margin-top: 50px; 
    font-size: 10px;
}

.LineSpacingOrangeItem i{
    padding-right: 2px;
    color: #cccccc;
}

.LineSpacingOrangeItem p :hover{
    color: #d58e32;
}

.LineSpacingNewFurnitureMenu{
    position: absolute;
    margin-left: 36%;
    display: flex;
    height: 100%;
}

.LineSpacingNewFurnitureMenuItem{
    padding-left: 5px;
    padding-right: 5px;
}

.LineSpacingNewFurnitureMenuItem h6{
    color: #2a2a2a;
    padding-left: 5px;
    padding-right: 5px;
}

.LineSpacingNewFurnitureMenuItem :hover{
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    border-color: #d58e32;
}

.Furniture-gallery-left-slider{
    width: 100%;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    
}

