/*H E A D E R*/
.BackgroundColorHeaderTop{
    background-color: #434343;
    height: 100%;
    width: 100%;
}

.BackgroundColorHeaderBotton{
    background-color: #363636;
    width: 100%;
    height: 100%;
}

header p{
    color: white;
    padding-right: 20px;
}

.ButtonLeftStyle{
    margin-top:8px;
    background-color: #434343;
    border: none;
    border-color:white;
    color: white;
}

.ButtonLeftStyleBorder{
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: white;
}

.ButtonRightStyle{
    margin-top:8px;
}

.mobile{
    padding-top:15px;
    color: #d58e32;
}

.Logo{
    margin-top:20px;
    margin-bottom: 20px;
    background-image:url(image/Logo.png);
    width: 165px;
    height: 77px;
}

.MyChart{
    width: 50px;
    height: 50px;
    background-color: #d58e32;
    border-radius: 5px;
    position: relative;
}

.MyChart::after{
    content: "0";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444;
    top:0;
    left:0;
    right:-55px;
    bottom: 0;
    margin:auto;
    color: #fff;
    text-align: center;
}

.Basket{
    margin: 15px;
    font-size:18px;
}

.MeChartZero p{
    text-align: center;
}

/*M E N U*/
.ContainerMenu{
    width: 100%;
    display: flex;
}

.MenuRight{
    text-align: center;
}   

.MenuItem{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:25px;
    height: 85px;
}

.MenuItem:hover{
    color: white;
    box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.75);
    background-color: #d58e32;
    height: 85px;
    padding-top:25px;
}

/*F O U R__O P T I O N*/

.Hoven{
    width: 100%;
    height: 120px;
    border:1px solid;
    margin-right: 20px;
}

.Hoven p{
    text-align: center;
}

.Hoven h4{
    text-align: center;
    padding-top:18%;
}

.HivenImage{
    padding-top:7px;
    border-radius: 50%;
    margin-left:32%;
    width: 75px;
    height: 75px;
    border: 1px solid;
    position: absolute;
}

.HivenImageTwo{
    width: 60px;
    height: 60px;
    border:1px solid;
    margin:0 auto;
    border-radius: 50%;
}

.HivenImageTwo i{
    font-size: 22px;
    margin: 17px;
}

.HivenImageTwo:hover{
    background-color: #d58e32;
    color:white;
}

/*A D*/
.Ad{
    margin-top:25px;
}

.AdOne{
    width: 100%;
    height: 420px;
    background-color: #6a6a6a; 
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
}

.AdOneBackgroundGreen{
    width: 100%;
    height: 100%;
    background-color: #505050;
    padding-top:150px;
    padding-left: 20px;
    
}

.AdOneBackgroundText{
    color: white;
    
}

.AdOneBackgroundNumber{
    height: 80px;
    width: 160px;
    border:6px solid;
}