/*---------------H E A D E R---------------*/
.BackgroundColorHeaderTop{
    background-color: #434343;
    height: 100%;
    width: 100%;
}

.BackgroundColorHeaderBotton{
    background-color: #363636;
    width: 100%;
    height: 100%;
}

header p{
    color: white;
    padding-right: 20px;
}

.ButtonLeftStyle{
    margin-top:8px;
    background-color: #434343;
    border: none;
    border-color:white;
    color: white;
}

.ButtonLeftStyleBorder{
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: white;
}

.ButtonRightStyle{
    margin-top:8px;
}

.mobile{
    font-size: 20px;
    padding-top:15px;
    color: #d58e32;
}

.Logo{
    margin-top:20px;
    margin-bottom: 20px;
    background-image:url(image/Logo.png);
    width: 165px;
    height: 77px;
}

.MyChart{
    width: 50px;
    height: 50px;
    background-color: #d58e32;
    border-radius: 5px;
    position: relative;
}

.MyChart::after{
    content: "0";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444;
    top:0;
    left:0;
    right:-55px;
    bottom: 0;
    margin:auto;
    color: #fff;
    text-align: center;
}

.Basket{
    margin: 15px;
    font-size:18px;
}

.MeChartZero p{
    text-align: center;
}

.BurgerMenu i {
    color:white;
}

.BurgerMenu a {
    color:white !important;
}
/*---------------M E N U---------------*/
.ContainerMenu{
    width: 100%;
    display: flex;
}

.MenuRight{
    text-align: center;
}   

.MenuItem{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:25px;
    height: 85px;
}

.MenuItem:hover{
    color: white;
    box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.75);
    background-color: #d58e32;
    height: 85px;
    padding-top:25px;
}

/*---------------F O U R__O P T I O N---------------*/

.Hoven{
    margin-top:40px;
    width: 100%;
    height: 120px;
    border:1px solid;
    
}

.Hoven p{
    text-align: center;
}

.Hoven h4{
    text-align: center;
    padding-top:45px;
}

.HivenImage{
    padding-top:7px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid;
    margin: auto;
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}

.HivenImageTwo{
    width: 60px;
    height: 60px;
    border:1px solid;
    margin:0 auto;
    border-radius: 50%;
    background-color: #fff;
}

.HivenImageTwo i{
    font-size: 22px;
    margin: 17px;
}

.HivenImageTwo:hover{
    background-color: #d58e32;
    color:white;
}

/*---------------A D---------------*/
.Ad{
    margin-top:25px;
}

.AdOne{
    width: 100%;
    height: 420px;
    background-color: #6a6a6a; 
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; 
}

.AdOneBackgroundGreen{
    width: 100%;
    height: 100%;
    background-color: #505050;
    padding-top:150px;
    padding-left: 20px;
    
}

.AdOneBackgroundText{
    color: white;
    
}

.AdOneBackgroundNumber{
    height: 80px;
    width: 160px;
    border:6px solid;
}

.AdTwoTop{
    width: 100%;
    height: 190px;
    background-color: #e8edf7;
}

.AdTwoBackgroundText{
    margin: auto;
    height: 150px;
    width: 260px;
    padding: 40px;
}

.AdTwoBackgroundText h2{
    color: #d58e32;

}

.AdTwoBottom{
    margin-top:40px;
    width: 100%;
    height: 190px;
    background-color: #fbf3f7;
}


.AdTwoBackgroundTextTwo h4{
    color: #d58e32;
}

.AdTwoBackgroundTextTwo{
    padding-top:65px;
    text-align: end;
    padding-right: 30px;
}

.AdOneTwo{
    width: 100%;
    height: 100%;
}
/*---------------F O O T E R---------------*/
.BackgroundFooterTop{
    margin-top: 30px;
    width: 100%;
    background-color: #363636;
}

.BackgroudFooterBottom{
    background-color: #2a2a2a;
}   

#FooterBottom{
	background-color: #2a2a2a;
	height: 85px;
	
}

.FooterLeft{
	text-align: right;
	color: #909090;
}

.FooterRight{
	text-align: right;
	color: #909090;

}

.FooterRight i{
    padding-left: 7px;
    padding-right: 7px;
}

.FooterRight i:hover{
    color: #d58e32;
}

#FooterTop{
    padding-top: 85px;
    padding-bottom: 85px;
    height: 100%;
	background-color: #363636;
	display: flex;

}

.FooterTopText h4{
	Color:white;
	
}

.FooterTopText span{
	Color:#909090;
}

.Card{
	position: absolute;
	width: 240px;
	height: 35px;
	background-image: url(image/Card.png);
	margin-top:20px;
	background-size: 200px 25px;
	background-repeat: no-repeat;
}

/*Q U O T E*/

.QuoteAll{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.QuoteAll p{
    font-size: 20px;
    text-align: center;
    
}
.QuoteText{
    text-align: center;
}

.Author{
    display: flex;
    margin: 0 auto;
    width: 15%;
    height: 15%;
}

.AuthorImage{
    width: 45px;
    height: 40px;
    background-color: #676767;
    border-radius: 5px;
}

.AuthorImageText{
    padding-left: 10px;
}

.AuthorImageText p{
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
